
stages:
- test
- security

variables:
  SECRET_DETECTION_ENABLED: 'true'
  GO_VERSION: "1.24"

# Include GitLab security templates
include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml

test:
  stage: test
  image: golang:${GO_VERSION}
  script:
    - make test

sast:
  stage: security

secret_detection:
  stage: security
